import { useEffect } from "react";
import { useAuth } from "react-oidc-context";
import { client } from "@/client/client.gen";

export const useAuthInterceptor = () => {
  const auth = useAuth();

  useEffect(() => {
    const interceptor = (request: Request) => {
      if (auth.isAuthenticated && auth.user?.access_token) {
        request.headers.set(
          "Authorization",
          `Bearer ${auth.user.access_token}`,
        );
      }
      return request;
    };

    client.interceptors.request.use(interceptor);

    return () => {
      client.interceptors.request.eject(interceptor);
    };
  }, [auth.isAuthenticated, auth.user?.access_token]);
};
